<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335848780129-vb2ge8q2vtpfs12bhg7j53e7ini86ks4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335848780129-vb2ge8q2vtpfs12bhg7j53e7ini86ks4</string>
	<key>API_KEY</key>
	<string>AIzaSyAdWkqXpPffqSIvQtMq6lVgEAAkQo6kB4I</string>
	<key>GCM_SENDER_ID</key>
	<string>335848780129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeancesca.meuTuiter</string>
	<key>PROJECT_ID</key>
	<string>meutuiter-33089</string>
	<key>STORAGE_BUCKET</key>
	<string>meutuiter-33089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335848780129:ios:992686680481f7c52f5520</string>
</dict>
</plist>